

.bg-primary{
    background-color: #d8060d;
    color: #fcffe7;
}

.bg-dark{
    background-color: #2B3467;
    color: #fcffe7;
}

.bg-light{
  background-color: #fcffe7;
  color: #2B3467;
}



/* flex */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-column .flex-row{
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;   
}

.flex-column .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}